/* 소제목 */
.board_title {
    margin: 15px;
    margin-left: 65px;
}

.board_title strong {
    font-size: 20px;
}
/* 투표글 전체 */
.board_wrap {
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 900px;
    /* height: 300px; */
    margin: 5px auto;
}

/* 사이드 바 */
aside { 
    float: left;
    position: sticky;
    top: 180px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px;
    width: 130px;
    box-shadow: 2px 2px 2px gray;
}

aside ul li {
    padding: 5px;
    list-style: inside;
}

aside ul li:hover {
    font-weight: bold;
}

/* 투표글 작성 버튼 */
.button button {
   padding-right: 15PX;
   font-size: 23PX;
   float: right;
   border: none;
   background-color: transparent;
}
.button {
    /* position: relative; */
    background-color: #E6E6E6;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    width: 800px;
    margin: 0 auto;
    height: 40px;
}

/* 투표글 작성창 숨기기 */
.hide{
    display: none;
}
 
/* .ch_count>p>input {
    display: none;
} */

/*i[class="bi bi-plus-circle"] {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
} 

#creatChoice {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
}
#creatChoice:checked~#addChoice {
    display: block;
} */

/* 투표글 작성창 내용물 정렬용 */
.align {
    width: 550px;
    margin: 0 auto;
}

/* 투표글 작성창*/
.addChoice {
    top: 30px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 800px;
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px;
    /* display: none; */
}
.addChoice p {
    display: inline-block;
    margin-right: 0;
    padding: 5px;
    width: 60px;
}
.addChoiceText {
    width: 100px;
}

.choiceSub {
    width: 310px;
}
/* 투표 시작 버튼 */
#startChoice {
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 62px;
    margin: 5px 0;
    margin-right: 10px;
    white-space: normal;
    font-weight: bold;
}

#startChoice:active {
    background-color: black;
    color: white;
}

/* 투표 목록 */
.choiceList {
    top: 30px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 800px;
    height: 250px;
    /* border: 1px solid black; */
    background-color: rgb(255, 253, 250);
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}
.chSub{
    display: inline-block;
    padding: 15px;
    margin-bottom: 20px;
    width: 600px;    
    font-weight: bolder;
    font-size: 1.5em;
}
.choice_realtime {
    position: relative;
    width: 750px;
    margin: 0 auto;
}

/* 비율표시 막대 */
.prcnt {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    background: linear-gradient(to right, rgb(117, 211, 255)38%, rgb(255, 133, 117)38%); /* 추후 scrip 처리 예정 */
    border-radius: 5px;
    width: 500px;
    height: 50px;
    margin: auto 5px;
}
.prcnt p{
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 80px;
    top: 50%;
    margin-top: -15px;
    font-weight: bold;
    font-size: large;
}

/* .ch1{
    display: inline-block;
    width: 100px;
    margin-right: 30px;
    margin-left: 10px;
    font-weight: bold;
} */
.ch2{
    /* display: inline-block; */
    float: right;
    /* width: 100px;
    text-align: center;
    font-weight: bold; */
}
.ch1, .ch2{
    display: inline-block;
    width: 120px;
    /* height: 75px; */
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
    word-break: break-all;
}

#icon_del{
    float: right;
    width: 50px;
    height: 50px;    
}
.icon_boom1{
    /* transform: translate(30%, -25%); */
    width: 50px;
    height: 50px;
}
.icon_boom2{
    /* transform: translate(660%, -25%); */
    width: 50px;
    height: 50px;
}
.ch_count{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.count1{
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 1.5em;
}
.count2{
    display: flex;
    align-items: center;
    width: 100px;
    font-size: 1.5em;
}

/* </vote> */